* {
	font-family: 'News Cycle', sans-serif;
	padding-left: 100px;
}

body {
	background-color: #f6d9ff;
}

h1 {
	color: #ff5d57;
	font-family: 'Architects Daughter', cursive; 
}

h3 {
	color: #ff5d57;
}